[submodule "gbarecomp"]
	path = gbarecomp
	url = https://github.com/mstan/gbarecomp.git
[submodule "external/recomp-ui"]
	path = external/recomp-ui
	url = https://github.com/RetroPortingToolKit/recomp-ui.git
